@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

*   {
    margin: 0; 
    padding: 0;
}

body{
    width: 100%;
    margin: 0 auto;
    background-color:#32b38c;
    font-family: 'Bitter', serif;
    -webkit-font-smoothing: antialiased;
    // font-family: 'Open Sans', sans-serif;
    color: #fff;

    .block  {
        width: 100%;
        margin-top: 6em;
    }
    
    h1 {
     font-weight: 700;
     text-align: left;
     max-width: 24.5em;
     margin: 0 auto;
     font-size: 2em;
     line-height: 1.2;
     text-align: center;
     border-bottom: 3px solid #fff;
     text-shadow: 1px 1px 0 #32b38c,2px 2px 0 rgba(0,0,0,0.1);
     padding: 0.2em;

    }

    p {
        text-align: left;
        max-width: 34.5em;
        margin: 0.5em auto 1em auto;
        font-size: 1.3em;
        line-height: 1.5;  
        padding:1em;
    }


    ul {
        margin-bottom: 1em;
      
      li {
          list-style: none;
          font-size: 1.3em;
          line-height: 1em;
      }

        li::before {
          content: ".";
          font-size: 5em;

        }
    
    }


    .ul-left {
      margin: 0 auto;
      width: 51%;
    }  

.intro{
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    max-width: 28.5em;
    margin: 0 auto;
    padding:1em;

    h1 {
      border:none;
      font-weight: bold;
    }
}


.code-wrapper {
    background-color: rgba(0,0,0,.2);
    border-radius: 0.2em;
    margin: 0 auto;
    width: 34%;

      textarea {
        background: transparent;
        font-family: bitter;
        color: #fff;
        width: 100%;
        height: 17em;
        font-size: 1em;
        font-weight: 300;
        padding: 1em;
        line-height: 1.5em;
        border: none;
        // overflow: hidden;
        resize: none;
      }
}

.code-wrapper-sw {
  background-color: rgba(0,0,0,.2);
  border-radius: 0.2em;
  margin: 0 auto;
  width: 49%;

      textarea {
        background: transparent;
        font-family: bitter;
        color: #fff;
        width: 100%;
        height: 24em;
        font-size: 1em;
        font-weight: 300;
        padding: 1em;
        line-height: 1.5em;
        border: none;
        // overflow: hidden;
        resize: none;
      }
}


//form
*, *::before, *::after {
  box-sizing: border-box;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-top: 30px solid #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 80px rgba(0, 0, 0, .2);
    margin-bottom: 2em;

    &::before {
      content: '';
      position: absolute;
      top: -20px;
      left: 15px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #adadae;
      box-shadow:
      20px 0 0 #adadae,
      40px 0 0 #adadae;
    }
}

.tree {
  padding: 20px 0;

      div {
        clear: left;
      }

      input[type="checkbox"] {
        display: none;
      }

      label, a {
        display: block;
        float: left;
        clear: left;
        position: relative;
        margin-left: 25px;
        padding: 5px;
        border-radius: 5px;
        color: #5c5d5e;
        text-decoration: none;
        cursor: pointer;
      }

      label::before, a::before {
        display: block;
        position: absolute;
        top: 6px;
        left: -25px;
        font-family: 'FontAwesome';
      }

      label::before {
        content: '\f07b'; /* closed folder */
      }

      input:checked + label::before {
        content: '\f07c'; /* open folder */
      }

      // a::before {
      //   content: '\f068'; /* dash */
      // }

      input:focus + label, a:focus {
        outline: none;
        background-color: #b9c3c9;
      }

      .sub {
        display: none;
        float: left;
        margin-left: 30px;
      }

      input:checked ~ .sub {
        display: block;
      }

      input[type="reset"]:focus {
        outline: none;
        box-shadow: 0 0 0 4px #b9c3c9;
      }

      .right {
        margin-left: 1em;
      }
}

.tree .open::before {
    content: '\f07c';
}

.folders {
    width: 52%;
    margin: 0 auto;
}

.folders-left {
    float: left;
}

.folders-right {
    float: right;
}

article {
    margin-top: 2em;
    margin-bottom: 1em;
}

.clear {
  clear: both;
}

.img {
  margin: 0 auto;
  width: 45%;
}

figcaption {
  position: absolute;
  margin-top: 19em;
  right: -161px;
  width: 50%;
  display: block;
      hr {
        left: -30em;
        position: absolute;
        width: 46em;
        border: 3px solid #fff;
      }

      h2 {
        font-size: 2em;
      }
}

a {
  color: #fff;    
}

 a:hover {
    color: #0972cd;
}

.link {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 479px) {
.code-wrapper, .code-wrapper-sw  {
    width: 91%;
}

}

 } //sluit body