$green:#d0efaf;
$purple:#d1cbf0;
$green-yellow:#dbdc7e;
$blue:#d0f7fa;
$light-blue:#d0f7fa;
$skin:#e8d6b8;
$pink:#efc9c9;
$border:5px solid $purple;
$green-blue:#5aabf2;
$dark-purple:#2E313C;
$pink-font: #E04681;


.bg-blue {
    background-color: $blue;
    height: 100%;
}

.bg-green {
    background-color: $green;
    height: 100%;
}

.bg-green-yellow {
    background-color: $green-yellow;
    height: 100%;
}

.bg-purple {
    background-color: $purple;
    height: 100%;
}

.bg-dark-purple {
    background-color: $dark-purple;
    height: 100%;
}

.bg-light-blue {
    background-color: $light-blue;
    height: 100%;
}

.bg-skin {
    background-color: $skin;
    height: 100%;
}

.bg-pink {
    background-color: $pink;
    height: 100%;
}

.bg-green-blue {
    background-color: $green-blue;
    height: 100%;
}

.pink-font {
    color:$pink-font;
}