@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


body{
    width: 100%;
    margin: 0 auto;
    background-color:#32b38c;
    font-family: 'Bitter', serif;
    -webkit-font-smoothing: antialiased;
    // font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding:0;

    .block  {
        width: 100%;
        margin-top: 6em;
    }
    
    h1 {
     font-weight: 700;
     text-align: left;
     max-width: 24.5em;
     margin: 0 auto;
     font-size: 2em;
     line-height: 1.2;
     text-align: center;
     border-bottom: 3px solid #fff;
     text-shadow: 1px 1px 0 #32b38c,2px 2px 0 rgba(0,0,0,0.1);
     padding: 0.2em;

    }

    p {
        text-align: left;
        max-width: 34.5em;
        margin: 0.5em auto 1em auto;
        font-size: 1.3em;
        line-height: 1.5;  
        padding:1em;
    }


    ul {
        margin-bottom: 1em;
      
      li {
          list-style: none;
          font-size: 1.3em;
          line-height: 1em;
      }

        li::before {
          content: ".";
          font-size: 5em;

        }
    
    }


    .ul-left {
      margin: 0 auto;
      width: 51%;
    }  

.intro{
    border-top: 3px solid #fff;
    // border-bottom: 3px solid #fff;
    max-width: 35.5em;
    margin: 0 auto;
    padding:1em;

    h1 {
      border:none;
      font-weight: bold;
    }

}


.code-wrapper {
    background-color: rgba(0,0,0,.2);
    border-radius: 0.2em;
    margin: 0 auto;
    width: 34%;

      textarea {
        background: transparent;
        font-family: bitter;
        color: #fff;
        width: 100%;
        height: 17em;
        font-size: 1em;
        font-weight: 300;
        padding: 1em;
        line-height: 1.5em;
        border: none;
        // overflow: hidden;
        resize: none;
      }
}

.code-wrapper-sw {
  background-color: rgba(0,0,0,.2);
  border-radius: 0.2em;
  margin: 0 auto;
  width: 49%;

      textarea {
        background: transparent;
        font-family: bitter;
        color: #fff;
        width: 100%;
        height: 24em;
        font-size: 1em;
        font-weight: 300;
        padding: 1em;
        line-height: 1.5em;
        border: none;
        // overflow: hidden;
        resize: none;
      }
}


//form
*, *::before, *::after {
  box-sizing: border-box;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-top: 30px solid #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 80px rgba(0, 0, 0, .2);
    margin-bottom: 2em;

    &::before {
      content: '';
      position: absolute;
      top: -20px;
      left: 15px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #adadae;
      box-shadow:
      20px 0 0 #adadae,
      40px 0 0 #adadae;
    }
}

.tree {
  padding: 20px 0;

      div {
        clear: left;
      }

      input[type="checkbox"] {
        display: none;
      }

      label, a {
        display: block;
        float: left;
        clear: left;
        position: relative;
        margin-left: 25px;
        padding: 5px;
        border-radius: 5px;
        color: #5c5d5e;
        text-decoration: none;
        cursor: pointer;
      }

      label::before, a::before {
        display: block;
        position: absolute;
        top: 6px;
        left: -25px;
        font-family: 'FontAwesome';
      }

      label::before {
        content: '\f07b'; /* closed folder */
      }

      input:checked + label::before {
        content: '\f07c'; /* open folder */
      }

      // a::before {
      //   content: '\f068'; /* dash */
      // }

      input:focus + label, a:focus {
        outline: none;
        background-color: #b9c3c9;
      }

      .sub {
        display: none;
        float: left;
        margin-left: 30px;
      }

      input:checked ~ .sub {
        display: block;
      }

      input[type="reset"]:focus {
        outline: none;
        box-shadow: 0 0 0 4px #b9c3c9;
      }

      .right {
        margin-left: 1em;
      }
}

.tree .open::before {
    content: '\f07c';
}

.folders {
    width: 49%;
    margin: 0 auto;
}

.folders-left {
    float: left;
}

.folders-right {
    float: right;
}

article {
    margin-top: 2em;
    margin-bottom: 1em;
}

.clear {
  clear: both;
}

.img {
  margin: 0 auto;
  width: 45%;
}

figcaption {
  position: absolute;
  margin-top: 19em;
  right: -161px;
  width: 50%;
  display: block;
      hr {
        left: -30em;
        margin-top: -1em;
        position: absolute;
        width: 46em;
        border: 3px solid #fff;
      }

      h2 {
        font-size: 2em;
      }
}

a {
  color: #fff;    
}

 a:hover {
    color: #0972cd;
}

.link {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 479px) {
    .code-wrapper, .code-wrapper-sw  {
        width: 91%;
    }

    .link {
      width: 88%;
    }

    .folders {
      width: 74%;
    }

}

  .scroll-down {
    width: 22.5px;
    height: 57.45px;
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 287px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
    padding: 8px;
    border-radius: 50px;
    opacity: .8;
  }
  .scroll-down .dot {
    width: 9px;
    height: 9px;
    display: block;
    background: #32b38c;
    border-radius: 100%;
    box-shadow: 0 17px 0 rgba(116, 201, 172, 100), 0 34px 0 rgba(116, 201, 172, 100);
    -webkit-animation: dotAnimation 1.8s ease-in-out infinite;
    animation: dotAnimation 1.8s ease-in-out infinite;
  }

  @-webkit-keyframes dotAnimation {
    99% {
      background: #e04681;
      box-shadow: 0 17px 0 rgba(116, 201, 172, 100), 0 34px 0 rgba(116, 201, 172, 100);
    }
    33% {
      background: rgba(116, 201, 172, 100);
      box-shadow: 0 17px 0 #e04681, 0 34px 0 rgba(116, 201, 172, 100);
    }
    66% {
      background: rgba(116, 201, 172, 100);
      box-shadow: 0 17px 0 rgba(116, 201, 172, 100), 0 34px 0 #32b38c;
    }
  }

  @keyframes dotAnimation {
    99% {
      background: #32b38c;
      box-shadow: 0 17px 0 rgba(116, 201, 172, 100), 0 34px 0 rgba(116, 201, 172, 100);
    }
    33% {
      background: rgba(116, 201, 172, 100);
      box-shadow: 0 17px 0 #32b38c, 0 34px 0 rgba(116, 201, 172, 100);
    }
    66% {
      background: rgba(116, 201, 172, 100);
      box-shadow: 0 17px 0 rgba(116, 201, 172, 100), 0 34px 0 #32b38c;
    }
  }

  .block .options {
    color: rgba(255,255,255,0.3);
    text-align: center;
    padding: 1em 0;
    bottom: 2em;
    border: 5px currentColor solid;
    max-width: 102px;
    border-radius: 3px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    z-index: 10;
    margin: 1% auto;
    margin-top: -2em;
  }

 .block .options:hover, .i:hover  {
    background-color:white;
    opacity: 0.5;
  }
 
  .block .snippet {
    color: rgba(255,255,255,0.3);
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 520px;
    max-width: 960px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 1% auto;
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
    overflow: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    border: 5px solid currentColor;
    z-index: 1000;
    top: 100px;
  }

  .block .snippet a.close {
    position: absolute;
    width: 0px;
    left: .7em;
    top: 0.5em;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
  }

  .block .snippet a.close i {
    font-style: normal;
  }

  .block .snippet header  {
    height: 3em;
    text-align: center;
    background-color: #308E6D;
    border-bottom: 1px solid #fff;
  }

  .block .snippet.show {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .block .snippet.expanded {
    width: 96%;
    height: 96%;
    top: 2%;
    left: 2%;
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
  }

  .block .content {
    border-radius: 0.2em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    background-color: #308E6D;
  }


  .block .textarea_text {
    background-color: rgba(0,0,0,0.2);
    font-family: bitter;
    color: #fff;
    width: 33%;
    height: 100%;
    font-size: 1em;
    font-weight: 300;
    padding: 1em;
    line-height: 1.5em;
    text-align: left;
    border: 3px solid rgba(255,255,255,0.3);
  }

  .block .textarea_gulp {
    background-color:  rgba(0,0,0,0.2);
    color: #fff;
    width: 74%;
    height: 100%;
    font-size: 1em;
    font-weight: 300;
    padding: 1em;
    line-height: 1.5em;
    text-align: left;
    border: 3px solid rgba(255,255,255,0.3); 
    font-family: monospace, monospace;
  }

  .top{
    margin-top: -1em;
  }


.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow: hidden;
}

.hide {
  display: none;
}

.i {
  font-size: 2em;
}




 } //sluit body